h1{
    font-weight: 700;
    font-size: 350px;
    letter-spacing: 15px;
}
.htnghy{
    padding: 200px;
}
.hghyf89{
    padding: 80px;
    justify-content: center;
}
.blackhgrt{
    background-color: black;
}
.hbghfydddddd{
    padding: 80px 0;
}
.copyrights142{
    padding: 80px;
}