body{
    margin: 0;
    padding: 0;
}
.myheadbody{
    padding: 150px;
}
.abosertf{
    padding:150px;
}
.hello123{
    padding: 120px;
}
.cheetha{
    padding: 150px;
}
.mycheeth12{
    background-color: black;
}
.welldone{
    font-size: 18px;
    letter-spacing: 1px;
}
.images123{
    width:8860;
    height:577;
}
.thingsddd{
     margin-left: 150px;
}
.thingssss{
    margin-right: 150px;
}
.thingsfdrd{
      background-color: black;
      padding: 50px;
}
.colthings{
    margin-right: 100px;
}
.thingsform12{
    padding: 150px;
}
.my-words{
    letter-spacing: 4px;
}